*
{
    margin: 0px;
}

.mainBody
{
    width: 100%;
}
/*Nav Bar Attributes*/
.NavBar li a 
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color:whitesmoke;
    text-decoration: none;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 1.5%;
    background-color: rgb(19, 18, 18);
    position:relative;
    top: 0;
    border-bottom: solid 1px whitesmoke;
    z-index: 1;
    width: 97%;
}

.logo
{
    cursor: pointer;
    height: 60px;
}

.nav_links
{
    list-style: none;
}

.nav_links li
{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a
{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover
{
    color: #0088a9;
}

html
{
    scroll-behavior: smooth;
}
/*End Nav Bar attributes*/

body
{
    background-color: whitesmoke;
}

p
{
    color:whitesmoke;
}

div
{
    color:whitesmoke;
}

/*Header attrributes*/
.header
{
    background-color: black;
    
    height: 500px;
    text-align: center;
    padding-top: 350px;
    position: relative;
    isolation: isolate;   
    width: 100%;
}


/*Background image attributes*/
.header::before
{
    background-image: url(headerBackground.jpeg);
    background-size: cover;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.5;
    border-bottom: solid 2px rgb(19, 18, 18);
    width: 100%;
}

/*Header text*/
h1
{
    position: relative;
    color: white;/*rgb(62, 106, 193);*/
    font-family: "Montserrat";
    font-size: 70px;
    
}
h2
{
    position: relative;
    color: white;/*rgb(62, 106, 193);*/
    font-family: "Montserrat";
    font-size: 50px;
    font-weight: 100;
}

/*About Me tab*/
.body
{
    /*Text attributes*/
    background-color: rgb(19, 18, 18);
    font-family: "Montserrat";
    color: white;
    text-align: center;

    /*Border attributes*/
    height: 400px;
    width: 95%;
    max-width: 95%;
    border: double 5px whitesmoke;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    overflow: hidden;
    overflow-y: scroll;
    
}


/*Skills tab*/
.skills
{
    /*Border attributes*/
    background-color: rgb(19, 18, 18);
    height: 400px;
    width: 95%;
    max-width: 95%;
    border: double 5px whitesmoke;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    overflow: hidden;
    overflow-x: scroll;
    /*Text attributes*/
    text-align: center;
    font-family: "Montserrat";
}

ul.SkillsList
{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.skills ul
{
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

/*Experience Tab*/
.experience
{
    font-family: "Montserrat";
    text-align: center;
    
    /*Border attributes*/
    background-color: rgb(19, 18, 18);
    height: 400px;
    width: 88%;
    max-width: 95%;
    border: double 5px whitesmoke;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    overflow: hidden;
    overflow-y: scroll;

}

/*Hyperlinks*/
a
{
    color:white;
    font-family: "Montserrat";
}

/*Education Tab*/
.education
{
    text-align: center;
    font-family: "Montserrat";
    /*Border attributes*/
    background-color: rgb(19, 18, 18);
    height: 400px;
    max-width: 88%;
    border: double 5px whitesmoke;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    top: 225px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    overflow: hidden;
    overflow-y: scroll;
}

/*Projects tab*/
.projects
{
    text-align: center;
    font-family: "Montserrat";
    /*Border attributes*/
    background-color: rgb(19, 18, 18);
    height: 400px;
    width: 88%;
    max-width: 95%;
    border: double 5px whitesmoke;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    top: 295px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    overflow: hidden;
    overflow-y: scroll;
}

/*Guitar Video*/
video
{
    padding:0px;
    border:2px solid whitesmoke;
    
}

/*Contact Me tab*/
ul.contact 
{
    display: inline-flex;
}

li
{
    margin-right: 40px;
}

.ContactMe
{
    background-color: rgb(19, 18, 18);
    text-align: center;
    font-family: "Montserrat";
    padding: 50px;
   

    /*Border attributes*/
    background-color: rgb(19, 18, 18);
    height: 300px;
    width: 88%;
    max-width: 95%;
    border: double 5px whitesmoke;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    top: 350px;
    bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    padding: 50px;
}

.ContactMe ul
{
    margin-top: 50px;
}
